<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyperion Scoring Bot</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <div class="logo">
        <img src="/static/logo.png" class="logo" alt="Hyperion Logo">
    </div>
    <div class="content">
        <h1>Hyperion</h1>
        <p>Hyperion is a Discord bot to pull and view scores from Sarpedon scoring servers. 
            The idea for this bot is taken from <a href="https://github.com/elysium-suite/daedalus">Daedalus</a>,
            however all code is rewritten and Hyperion is not associated with Daedalus in
            any way or manner. </p>
        <br>
        <p>Use <code><strong>/help</strong></code> to get started in your server!</p>
    <a class="invbutton" href={{invite_link}}>Invite Hyperion to your server</a>
    </div>
</body>
</html>
